/* reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Whitney, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  }

header{
    background-image: url(img/jumbo.png);
    width: 100%;
    height: 700px;
    padding-top: 20px;
    background-size: cover;
}
.flex{
    display: flex;
    justify-content: center;
    align-items: flex-start;


}
.container {
    max-width: 1200px;
    margin: 0 auto;
}


/* header */
.logo, .bottone, .login, .nav {
    display: flex;
    align-items: center;
    height: 70px;
    flex-basis: 20%;
    
}

ul{
    display: flex;
    justify-content:space-around;
    list-style-type:none;
    width: 100%;
    color: white;
}

.login{
    
    display: flex;
    justify-content: flex-end;
}

.button{
    height: 40px;
    background-color: white;
    border-radius: 25px;
    display: flex;
    align-items: center;
    padding: 0px 15px;
}

h1{
    font-size: 2.5em;
}
p{
    padding: 30px 100px 15px 100px;
    font-size: 1em;
    text-align: center;
}



.descriptionbox{
    height: 400px;
    border: 2px solid black;
    color: white;
    font-size: 25px;
    text-align: center;
    width: 80%;
    padding-top: 100px;
}

footer{
    background-color: #202124;
    width: 100%;
}



.blue-column{
    height: 400px;
    flex-basis: 66%;
    background-color: #1e90ff;
    border: 2px solid black;
      margin: 50px 0px;
}

.pink-column{
    height: 400px;
    flex-basis: 34%;
    background-color: #ffc0cb;
    border: 2px solid black;
    margin: 50px 0px;
}
.bgc{
    background-color: #d3d3d3;
}
.last-descriptionbox{
    background-color: green;
    height: 700px;
    flex-basis: 100%;
    border: 2px solid black;
    margin: 50px 0;
   
}
.info{
    height: 700px;
    flex-basis: 100%;
    padding:20px 0 ;
}
.first-column{
    height: 100%;
    flex-basis: 40%;
    background-color: #f08080;
    border: 2px solid black;
}
.column{
    height: 100%;
    flex-basis: 20%;
    background-color: #20b2aa;
    border: 2px solid black;
}
.column-footer{
    height: 100px;
    background-color: #7fffd4;
    border: 2px solid black;
}
.column-footer {
    align-items: center;
    justify-content: space-between; 
}
 .nav{
    flex-basis: 60%;
 }